@font-face {
  font-family: 'Inter';
  src: url(../Inter/Inter/Inter-Bold.woff) format('woff'),
  url(../Inter/Inter/Inter-Bold.woff2) format('woff2');
  font-weight: normal;
}

body {
  background-color: rgb(106, 168, 219);
  font-family: 'Inter', serif;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}
.header__title {
  text-align: left;
  width: 730px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

div {
  border: 1px solid red;
  }

.two-columns {
  margin: 100px auto;
  width: 80%;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  justify-content: space-between;
}

.two-columns__paragraph {
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns_span-accent {
  font-weight: bold;
}

.two-columns__paragraph-indent {
  margin-top: 30px;
}
.section-title {
  width: 60%;
}

.section-subtitle {

}

.table {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}

.table_space_m {
  margin: 90px auto;
}

.table_space_l {
  margin: 100px auto;
}

.table_width_m {
  width: 200px;
}

.table_width_l {
  width: 250px;
}

.table__cell {
  flex-wrap: wrap;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.table__cell_space_m {
  margin-top: 60px;
}

.table__cell_space_l {
  margin-top: 80px;
}

.table_theme_dark {
  background-color: black;
  color: white;
  border-radius: 10px;
}

